@import './../../variables.scss';

footer {
    width: 100%;
    min-height: 120px;
    background-color: $shade-grey-light;
    @include flex-row();
    margin-top: 30px;
    z-index: 5;
    position: relative;

    .content_box {
        margin-left: 0;
        transform: none;
        text-align: center;
    }
}
