@import './../../variables.scss';

header {
    background: #fff;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: $header-height;
    padding: 10px 0;
    box-shadow: 0px 0px 10px $shade-grey;
    @include flex-row();
    z-index: 9;

    .content_box {
        @include flex-row();
        justify-content: space-between;
        margin-left: 0;
        transform: none;

        .logo {
            height: 40px;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: $breakpoint-xs) {
    header {
        .content_box {
            justify-content: center;
        }
    }
}
